@import url(./global.css);
@import url(./components/header.css);
@import url(./components/question-card.css);
@import url(./components/button.css);
@import url(./components/navbar.css);

/* BACKDROP */

body {
  margin: 0;
  background-image: url(./assets/jungle.jpg);
  background-repeat: repeat;
}

main {
  margin-bottom: 100px;
}
