.box {
  background-color: var(--contrasting-color);
  margin: 30px;
  padding: 20px;
}

/* USER ID */

.user-id {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.user-id img {
  border-radius: 100%;
}

h4 {
  font-family: var(--main-font);
  font-size: 30px;
  font-weight: 400;
  margin-left: 50px;
}

/* ABOUT ME */

.about-me {
  display: flex;
  flex-flow: row wrap;
  margin-top: 5px;
}

h5 {
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.5px;
  margin-bottom: 0;
}

.about-me p {
  font-family: var(--main-font);
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 0.5px;
  margin-top: 5px;
}

/* PERSONAL COUNTER */

.personal-counter {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin: 20px;
}

.personal-counter button {
  background-color: var(--secondary-color);
  border-style: none;
  border-radius: 15px;
  color: var(--contrasting-color);
  width: 120px;
  height: 60px;
  font-size: 25px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

/* SETTINGS */

h6 {
  font-size: 20px;
  font-family: var(--main-font);
  font-weight: 400;
  margin: 0;
}

.switch {
  display: flex;
  flex-flow: row nowrap;
  font-family: var(--main-font);
  justify-content: space-between;
}
