/* BUTTON */

.answer-button {
  width: 200px;
  padding: 15px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
  align-self: center;
  color: var(--contrasting-color);
  background-color: var(--primary-color);
  border-style: none;
}

.answer-button__answer-box {
  align-self: center;
  text-align: center;
  width: 200px;
  height: 150px;
  margin: 0 0 40px 0;
  padding-top: 30px;
  font-family: var(--main-font);
  font-size: 23px;
  background-color: var(--tertiary-color);
  color: var(--contrasting-color);
}

.answer-button__answer-box span {
  font-size: 16px;
  margin-top: 5px;
}
