/* HEADER  */

header {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--contrasting-color);
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 0;
}

h2 {
  font-family: var(--main-font);
  font-weight: 100;
  margin-top: 5px;
}
